<div class="container">
  <form class="loginForm" action="/login" method="POST">
    <h2>Please Sign In</h2>
    <div class="form-group">
      <label for="usernameInput">Username</label>
      <input type="text" class="form-control" name="username" id="usernameInput" placeholder="Username" autofocus="true">
    </div>
    <div class="form-group">
      <label for="passwordInput">Password</label>
      <input type="password" class="form-control" name="password" id="passwordInput" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary btn-block">Submit</button>
    <a href="/register" class="btn btn-default btn-block">Create new account?</a>
  </form>
</div>

