<div class="createUserContainer">
  <div class="container">
    <form action="/register" method="POST">
      <h2>Create New User</h2>
      <div class="form-group">
        <label for="usernameInput">Username</label>
        <input type="text" class="form-control" name="username" id="usernameInput" placeholder="Username" autofocus="true">
      </div>
      <div class="form-group">
        <label for="passwordInput">Password</label>
        <input type="password" class="form-control" name="password" id="passwordInput" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary btn-block">Submit</button>
      <a href="/login" class="btn btn-default btn-block">Have already account?</a>
    </form>
  </div>
</div>
