<div class="currentMapContainer" ng-controller="mapController">
  <ui-gmap-google-map ng-if='map.center' center='map.center' zoom='map.zoom' options='map.options' control="map.control">
    <ui-gmap-markers models="map.markers" coords="'self'" icon="'icon'" click="onMarkerClicked" fit='true'>
    </ui-gmap-markers>
  </ui-gmap-google-map>
  
</div>
